.Select {
  &__control {
    border: solid 2px #5c6979 !important;
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 255, 0);
    
    &--is-selected, 
    &--is-focused {
      box-shadow: 0 0 0 0.2rem rgba(82, 161, 255, 0.25) !important;
    }
  }

  &__value-container {
    padding: 10px 25px !important;
    padding-right: 0px !important;

    &--has-value {
      padding-left: 15px !important;
    }
  }

  &__placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #a4a4a4 !important;
  }
}