html,
body,
input,
button {
  font-family: 'MuseoSansCyrl';
}

h1 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #282d32;

  .spinner-border-sm {
    font-size: 8px;
    top: -7px;
    position: relative;
    opacity: 0.5;
    margin-left: 10px;
  }

  a,
  a * {
    text-decoration: none !important;
  }
}

h2 {
  font-size: 20px;
}

p {
  font-size: 15px;
  letter-spacing: 0.5px;
}

hr {
  opacity: 0.3;
}

.Select {
  &__control {
    border: solid 2px #5c6979 !important;
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 255, 0);
    
    &--is-selected, 
    &--is-focused {
      box-shadow: 0 0 0 0.2rem rgba(82, 161, 255, 0.25) !important;
    }
  }

  &__value-container {
    padding: 10px 25px !important;
    padding-right: 0px !important;
  }

  &__placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #a4a4a4 !important;
  }
}

.radio {
  position: relative;
  user-select: none;

  label {
    display: inline-block;
    height: 24px;
    font-weight: 300;
    font-size: 16px;
    padding-left: 30px;
    background-image: url('shared/img/svg/icon-unselected.svg');
    background-repeat: no-repeat;
    background-position: left 3px;
    cursor: pointer;
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked+label {
      background-image: url('shared/img/svg/icon-selected.svg');
    }

    &:disabled+label {
      opacity: 0.5;
    }
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.danger {
  color: $danger !important;
}

.dimmed {
  color: #909cab;
}

.row .card {
  margin-bottom: 30px;
}

.Base {
  &Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    padding-bottom: 28px;
    border-bottom: 2px solid #efeff4;
  }

  &Content {
    display: block;
  }

  &Form {

    margin: 0 auto;

    .Label {
      color: #909cab;
    }

    .form-control {
      height: 56px;
      padding: 15px 25px;
      width: 100%;
      border-radius: 4px;
      border: solid 2px #5c6979;
      font-size: 16px;
      font-weight: 300;
      transition: all .3s ease;
    }

    .btn {
      font-size: 20px;
    }
  }
}