html,
body,
input,
button {
  font-family: 'MuseoSansCyrl';
}

h1 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #282d32;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 15px;
  letter-spacing: 0.5px;
}

hr {
  opacity: 0.3;
}

.text-center {
  text-align: center;
}

.BaseHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  padding-bottom: 28px;
  border-bottom: 2px solid #efeff4;
}

.BaseContent {

}