.AppHeader {
  position: relative;
  background: #001340;
  background: linear-gradient(to bottom, #001340, #000e31), linear-gradient(to right, rgba(82, 161, 255, 0.1), rgba(9, 221, 224, 0.3));
  background-image: url(../../shared/img/svg/header-bg.svg);
  background-size: cover;

  &__username {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;

    img {
      border-radius: 50%;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      max-width: 40px;
      margin-right: 15px;
    }
  }

  .DropDownArrow {
    display: inline-block;
    width: 10px;
    height: 7px;
    margin-left: 10px;
    background-image: url(../../shared/img/svg/arrow-down-dropdown.svg);
    background-repeat: no-repeat;
  }
}