
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('./shared/fonts/MuseoSansCyrl-700.otf') format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('./shared/fonts/MuseoSansCyrl-500.otf') format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('./shared/fonts/MuseoSansCyrl-300.otf') format("opentype");
  font-weight: 300;
}

// Import simple-line-icons
$simple-line-font-path: "./shared/fonts/";
@import "node_modules/simple-line-icons/scss/simple-line-icons.scss";

// Override Boostrap variables
@import "./shared/styles/bootstrap-variables";

// Import Bootstrap source files
@import "node_modules/bootstrap/scss/bootstrap";

// Override core variables
@import "./shared/styles/core-variables";

// Custom styles
@import "./shared/styles/custom";

